body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px auto;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

input, textarea {
    width: 60%;
    padding: 8px;
    margin: 5px 0;
}

textarea {
    height: 120px;
}

button {
    padding: 8px 12px;
    margin-top: 5px;
}

.news-content {
    white-space: pre-line;
}
